DirectoryIndex index.html
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.odontoexcellencesantacruz\.com\.br$ [NC]
RewriteRule ^ https://odontoexcellencesantacruz.com.br%{REQUEST_URI} [L,R=301]
